server:
  port: ${PORT:8080}
  tomcat:
    threads:
      max: 10
      min-spare: 2
    max-connections: 100

spring:
  threads:
    virtual:
      enabled: false
  datasource:
    url: jdbc:postgresql://localhost:5432/isstrack
    username: postgres
    password: admin
    hikari:
      maximum-pool-size: 5
      minimum-idle: 1
      connection-timeout: 10000
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
        generate_statistics: false
  flyway:
    enabled: true

logging:
  level:
    root: WARN
    com.isstrack: INFO

app:
  jwt:
    secret: "c8f9e3a1b5d74c2e9f3a8b6d1e4f7c9a2b5d6e8f1c3a7b9d4e6f2a1c8b3d5e7"
    issuer: "issue-tracker"
    expirationMinutes: 60

websocket:
  allowed-origins: "http://localhost:4200"
  auth:
    allow-query-token: true
